<IfModule mod_headers.c>
      Header always set Strict-Transport-Security "max-age=15552000; includeSubDomains; preload"
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteRule ^\.well-known/host-meta /server/public.php?service=host-meta [QSA,L]
  RewriteRule ^\.well-known/host-meta\.json /server/public.php?service=host-meta-json [QSA,L]
  RewriteRule ^\.well-known/webfinger /server/public.php?service=webfinger [QSA,L]
  RewriteRule ^\.well-known/nodeinfo /server/public.php?service=nodeinfo [QSA,L]
  RewriteRule ^\.well-known/carddav /server/remote.php/dav/ [R=301,L]
  RewriteRule ^\.well-known/caldav /server/remote.php/dav/ [R=301,L]
</IfModule>

<IfModule mod_dir.c>
  # hier kann der index.html link angepasst werden.
  DirectoryIndex index.php index.html
</IfModule>
