<IfModule mod_headers.c>
      Header always set Strict-Transport-Security "max-age=15552000; includeSubDomains; preload"
</IfModule>

<IfModule mod_dir.c>
  # hier kann der index.html link angepasst werden.
  DirectoryIndex index.php index.html
</IfModule>
